@use '@/styles/variables' as *;

.hamburgerNavbar {
	display: none;
}

@media (max-width: 768px) {
	.hamburgerNavbar {
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 1rem;
		padding: 1rem 1.25rem 1.25rem;
		background-color: rgba($color-primary, 0.95);
		border-bottom: 1px solid $color-border;
		backdrop-filter: blur(10px);

		a {
			position: relative;
			font-size: $font-size-normal;
			color: $color-text-primary;
			font-family: $font-family-primary;
			text-decoration: none;
			transition: color 0.3s ease;

			&:hover {
				color: $color-hover-secondary;
			}

			&.active {
				color: $color-hover-secondary;
			}
		}
	}
}