@use 'sass:color';
@use '@/styles/variables' as *;

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2.5rem 1.25rem;
    min-height: 100dvh;

    .title {
        h1 {
            flex-wrap: wrap;
        }
    }

    .contactContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.25rem;
        width: 100%;
        max-width: 800px;
        height: 700px;
        border: 1px solid $color-border;
        border-radius: $radius-xl;
        padding: 2.5rem;

        @media (max-width: 768px) {
            height: auto;
        }

        p {
            max-width: 450px;
            text-align: center;
            color: $color-text-secondary;
            font-family: $font-family-primary;
        }

        .contactButtons {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 1.25rem;

            .contactButton {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0.5rem;
                padding: 1rem 1.75rem;
                border-radius: $radius-xl;
                border: none;
                background-color: $color-button;
                color: $color-text-primary;
                font-family: $font-family-primary;
                font-size: $font-size-medium;
                cursor: pointer;
                transition: background-color 0.3s ease, color 0.3s ease;

                &:hover {
                    background-color: $color-hover-secondary;
                    color: $color-hover-primary;
                }
            }

            .contactInstagram {
                &:hover {
                    background-color: color.adjust($color-instagram, $lightness: -10%);
                }
            }

            .contactTiktok {
                &:hover {
                    background-color: $color-accent;
                }
            }

            .contactYoutube {
                &:hover {
                    background-color: color.adjust($color-youtube, $lightness: -10%);
                }
            }
        }
    }
}