@use '@/styles/variables' as *;

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;

    .contentContainer {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        max-width: 1400px;

        p {
            color: $color-text-secondary;
            font-size: $font-size-medium;
            font-family: $font-family-primary;
            line-height: 24px;
            margin-bottom: 1.5rem;
            max-width: 800px;
        }

        .mediaCardsContainer {
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;
            justify-content: center;
        }
    }
}